<h1>Add Parent Company</h1>
  <div>
    <form>
      <div class="form-group">
        <label for="name">Name</label>
        {{input value=parent_company.name id="name"}}
      </div>

      <div class="form-group">
        <label for="health_score">Health Score</label>
        {{input value=parent_company.health_score id="health_score"}}
      </div>

      <div class="form-group">
        <label for="environment_score">Environment Score</label>
        {{input value=parent_company.environment_score id="environment_score"}}
      </div>

      <div class="form-group">
        <label for="humaine_score">Humaine Score</label>
        {{input value=parent_company.humaine_score id="humaine_score"}}
      </div>

      <button {{action 'updateParentCompany' parent_company}}>Save</button>
    </form>
  </div>
