
<section class="section-product container">
   <div class="product-aside">
      <div class="image-section">
        <img src="http://www.naturevalley.com/wp-content/uploads/2014/09/prod-granola-hero.png" alt="">
      </div>
      <div class="info-tile">
        <div class="col1">
        <h3>About the Brand</h3>
        <div class="score">
          <h4>Made By</h4>
          <h5>{{product.company.name}}</h5>
          <h4>Company Score</h4>
          <div class="company-score">
            <p class="name">Overall Company Score <span class="rating-5-7">{{company_score}}</span></p>
          </div>
          <div class="environ-score">
            <p class="name">Environment<span class="rating-5-7">{{product.company.environment_score}}</span></p>
          </div>
          <div class="environ-score">
            <p class="name">health<span class="rating-5-7">{{product.company.health_score}}</span></p>
          </div>
          <div class="society-score">
            <p class="name">Society<span class="rating-5-7">{{product.company.social_score}}</span></p>
          </div>
        </div>

        <div class="environ score">
          <p class="name">Environment</p>
          <span class="rating-5-7">{{product.company.environment_score}}</span>
        </div>

        <div class="society score">
          <p class="name">Society</p>
          <span class="rating-5-7">{{product.company.social_score}}</span>
        </div>
      </div>
    </div>
  </div>
   <div class="product-main">
     <div class="product-header">
       <h1 class="company-name">{{product.company.name}}</h1>
       <span>{{product.product_name}}</span>
     </div>
     <div class="rating-icon">
     <p>{{product_avg}}</p>
       <div class="rating">
       <p>Overall Score</p>
       <h3>Good!</h3>
     </div>

     </div>

   <div class="row2">
     <div class="product-ratings">
       <h2 class="rating-header">Behind the Ratings</h2>
       <div class="health-icon">
         <div class="icon">
           <i class="fa fa-smile-o"></i>
           <h3>Your Health</h3>
         </div>
         <span>{{product.product_health_score}}</span>
       </div>
       <div class="environment-icon">
         <div class="icon">
           <i class="fa fa-tree"></i>
           <h3>Environment</h3>
         </div>
         <span>{{product.product_environment_score}}</span>
       </div>
       <div class="society-icon">
         <div class="icon">
           <i class="fa fa-users"></i>
           <h3>Society</h3>
         </div>
         <span>{{product.product_social_score}}</span>
       </div>
     </div>
     <div class="ingredients">
       <h2>Ingredients</h2>
       <div class="ingredient">
       {{#each product.ingredients as |ingredient|}}
         <li class="ingredient">
           <div class="ingredient">
             <span>{{ingredient.ingredient}}</span>
             <span>Quantity<span> Type</span></span>
           </div>
         </li>
       {{/each}}
       </div>

     </div>
   </div>
     </div>

</section>

{{!-- <div class="info-tile">
<h3>Ingredients</h3>
{{#each product.ingredients as |ingredient|}}
<li class="ingredient">
{{ingredient.ingredient}}
{{ingredient.product_health_score}}
{{ingredient.product_environment_score}}
{{ingredient.product_social_score}}
</li>
{{/each}}
</div> --}}
