
<section class="section-product container">
  <div class="product-main">
    <div class="product-header">
      <h1 class="product-name">{{product.product_name}}</h1>
      <h4>GoodGuide Overall Score</h4>

    </div>
    <div class="rating-icon">
      <span>{{product_avg}}</span>
      <div class="rating">
      <p>Product Rating</p>
      <h3>Good!</h3>
      <!-- <h3>Behind the Ratings</h3> -->
    </div>

    </div>
    <div class="rating-header">
    <h3>Behind the Ratings</h3>
  </div>

      <div class="product-ratings">
        <div class="health">
          <i class="fa fa-smile-o"></i>
          <h3>Your Health</h3>
          <span>{{product.product_health_score}}</span>
        </div>
        <div class="environment">
          <i class="fa fa-tree"></i>
          <h3>Environment</h3>
          <span>{{product.product_environment_score}}</span>
        </div>
        <div class="society">
          <i class="fa fa-users"></i>
          <h3>Society</h3>
          <span>{{product.product_social_score}}</span>
        </div>
      </div>
    </div>

   <div class="product-aside">
      <div class="image-section">
        <img src={{product.product_image_url}} alt="">
      </div>

      <div class="info-tile">
        <h3>About the Brand</h3>
        <div class="score">
          <h4>Made By</h4>
          <h5>{{product.company.name}}</h5>

          <h4>Company Score</h4>
          <div class="company-score">
            <p class="name">Overall Company Score <span class="rating-5-7">{{company_avg}}</span></p>
          </div>
          <div class="health-score">
            <p class="name">Health<span class="rating-5-7">{{product.company.health_score}}</span></p>
          </div>
          <div class="environ-score">
            <p class="name">Environment<span class="rating-5-7">{{product.company.environment_score}}</span></p>
          </div>
          <div class="society-score">
            <p class="name">Society<span class="rating-5-7">{{product.company.social_score}}</span></p>
          </div>
        </div>
    </div>

    <div class="info-tile">

    </div>


    <div class="info-tile">
      <h3>Corporate Info</h3>
      <h4>Parent Company</h4>
      {{#if product.company.parent_company}}
        <h3>{{product.company.parent_company}}</h3>
      {{else}}
        <h3>N/A</h3>
      {{/if}}
    </div>

    <div class="info-tile">
      <h3>Ingredients</h3>
      {{#each product.ingredients as |ingredient|}}
        <li class="ingredient">
          {{ingredient.ingredient}}
          {{ingredient.product_health_score}}
          {{ingredient.product_environment_score}}
          {{ingredient.product_social_score}}
        </li>
      {{/each}}
    </div>

  </div>
</section>
