<nav class="nav">
  <div class="container">
  <div class="logo">
    <h1>Shoptivist</h1>
  </div>

  <div class="nav-main">
    <p class=""><a href="#">Personal</a></p>
    <p class=""><a href="#">Food</a></p>
    <p class=""><a href="#">Household</a></p>
    <p class=""><a href="#">Babies / Kids</a></p>
    <p class=""><a href="#">Blog</a></p>
  </div>

  <div class="search-prim">
    <input type="text" name="name" value="">
    <button class="button"><i class="fa fa-search"></i></button>
  </div>
</div>
</nav>


  {{!-- {{#each categories as |cat|}}
    {{log cat}}
    <li {{action showCat(cat)}}>{{cat.name}}</li>
  {{/each}} --}}





{{!-- TODO: Do we even WANT crumbs?
        TEST crumbs
        STYLE crumbs (app/templates/components/bread-crumbs.hbs)
        https://github.com/chrisfarber/ember-breadcrumbs
--}}
{{!-- <div class="crumbs">
    BREADCRUMBS: {{bread-crumbs}}
</div> --}}

{{yield}}
