{{#if addNewProduct}}
<h1>Add Product</h1>
  <div>
    <form>
      <div class="form-group">
        <label for="name">Name</label>
        {{input value=product_name id="product_name"}}
      </div>

      <div class="form-group">
        <label for="name">Product Description</label>
        {{input value=product_description id="product_description"}}
      </div>

      <div class="form-group">
        <label for="image_url">Add Image</label>
        {{input value=image_url id="image_url"}}
      </div>

      <div class="form-group">
        <label for="health_score">Health Score</label>
        {{input value=product_health_score id="product_health_score"}}
      </div>

      <div class="form-group">
        <label for="environment_score">Environment Score</label>
        {{input value=product_environment_score id="product_environment_score"}}
      </div>

      <div class="form-group">
        <label for="social_score">Social Score</label>
        {{input value=product_social_score id="product_social_score"}}
      </div>

      <button {{action 'saveProduct' company}}>Save</button>
    </form>
  </div>
 {{else}}
    <button class="btn btn-success"{{action 'productFormShow'}}>New Product</button>
{{/if}}
