<hr>
<h1>Admin</h1>
<hr>
<h3>Companies</h3>
<hr>

{{#if model.companies}}
  {{#each model.companies as |company|}}
    <div class="row well">
      <div class="col-md-12">
        <li>{{company-tile company=company deleteCompany="deleteCompany"}}</li>
      </div>
    </div>
  {{/each}}

{{else}}
  <h2>Let's add some Companies!</h2>
{{/if}}
{{new-company saveCompany='saveCompany' companies=model.companies}}

<hr>

{{#if model.categories}}
  {{#each model.categories as |category|}}
    <div class="row well">
      <div class="col-md-12">
        <li>{{category-tile category=category}}</li>
      </div>
    </div>
  {{/each}}

{{else}}
  <h2>Let's add some Categories!</h2>
{{/if}}

{{new-category saveCategory='saveCategory'}}
